.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 13vh;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  height: 100%;
}

.nav-links,
.nav-bottom {
  display: none;
}

.active {
  border-bottom: 2px solid var(--clr-primary-dark);
  padding-bottom: 0.65rem;
}

.isActive {
  border-bottom: 2px solid var(--clr-primary-dark);
}

@media screen and (min-width: 768px) {
  .nav-top {
    max-width: 90%;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .nav-icon {
    display: none;
    cursor: pointer;
  }

  .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0 0.5rem 0;
    border-bottom: 0.05rem solid var(--clr-primary-dark);
  }

  .nav-bottom .nav-links {
    gap: 3.5rem;
  }
}
